---
import SectionLayout from './SectionLayout.astro';
import GetCopyButton from '../ui/GetCopyButton.astro';
import UnderlineStroke from '../ui/UnderlineStroke.astro';

const paragraphClass = 'mt-6 text-lg text-gray-700 leading-relaxed';
---

<SectionLayout>
  <div class="max-w-4xl mx-auto px-6">
    <h2
      class="text-center text-4xl font-barlow leading-tight mb-20 font-normal"
    >
      <span class="font-bold">HOMEOPATÍA A PRIMERA VISTA</span>
      <UnderlineStroke
        svgHeight="20"
        pathD="M 0 5 Q 10 10 200 5 T 200 5"
        width="2"
      />
    </h2>
    <p class={paragraphClass}>
      Identifica y comprende los <b>remedios homeopáticos clave</b> con explicaciones
      simples, ilustraciones prácticas y consejos útiles.
    </p>

    <p class={paragraphClass}>
      Descubre 74 remedios esenciales con
      <b class="text-gray-900">ilustraciones y explicaciones claras</b>
    </p>
    <p class={paragraphClass}>
      Relaciona <b class="text-gray-900"
        >síntomas, características del paciente y medicamentos homeopáticos</b
      > de forma sencilla.
    </p>
    <p class={paragraphClass}>
      Un recurso diseñado para hacer la homeopatía más <b class="text-gray-900"
        >accesible y aplicable</b
      > en tu práctica diaria.
    </p>
    <p class={paragraphClass}>
      ¡Simplifica lo complejo y <b class="text-gray-900"
        >transforma tu manera de cuidar manera de cuidar</b
      >!
    </p>
    <div
      class="mt-12 flex flex-col sm:flex-row gap-4 items-center justify-center"
    >
      <GetCopyButton />
    </div>
  </div>
</SectionLayout>
